* {
    box-sizing: border-box;
}

img {
    box-shadow: 5px 5px #904e1e;
}

.corgi-gallery {
    box-shadow: 3px 3px #00ff00;
}

.small {
    height: 150px
}

#special-pic {
    box-shadow: 3px 3px yellow;
    height: 200px
}


#logo {
    box box-shadow: none;
    height: 60;
}
